:root {
  --beauty-brand-light: #2b7fff;
  --beauty-brand-dark: #011c44;
  --paragraph-button: #4a4a4a;
  --beauty-landing-additional: #fff;
  --copyright-text: #747272;
  --text-why-us-section: #000;
  --beauty-star-1: #011F4A;
}

  $bp-mobile: 480px;
  $bp-tablet: 768px;
  $bp-desktop: 1200px;