.about-us-section {
  padding-top: 0;

   @media screen and (min-width: $bp-desktop) {
    padding-top: 40px;
  }

  &__container {
    display: flex;
    width: 100%;
    max-width: 1240px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    position: relative;
  }

  &__content {
    max-width: 700px;
  }

  &__title {
    margin: 40px 0;
  }

  &__title-brand {
    text-transform: capitalize;
    font-weight: 700;
  }

  &__text {
    font-size: 22px;
    line-height: 1.7;
    margin-top: 40px;
  }

  &__text .brand {
    font-weight: 600;
    text-transform: capitalize;
  }

  
}
