.photo-section {
  display: none;

  @media screen and (min-width: $bp-desktop) {
    display: block;
    width: 500px;
    height: 695px;
  }

  &__photo {
    position: absolute;
    width: 327px;
    height: 327px;
    border-radius: 327px;
  }

  &__photo.after {
    bottom: 0;
    right: 0;
  }
}
