.why-us-section {
  &__container {
    display: flex;
    justify-content: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 16px;

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
      gap: 56px;
    }
  }

  &__item {
    flex-basis: calc((100% - 112px) / 3);
  }
}
